<strong>Recover Password</strong>

<p> A quest for recover password went solicited by e-mail <strong> {{ email }} .</strong> If you didn't this request, please change your password for security. </p>

<p> To continue with the recover the password, use the token <strong>{{ token }} </strong> or click below.</p>

<a href="{{ link }}"> Reset password </a>
